<div class="" role="main">
  <div id="billing" class="h-100">
    <div class="clearfix"></div>
    <div class="col-md-12 col-xs-12 x_panel mb-0 pb-0">
      <div class="x_title panel-title">
        <div class="col-md-8 col-sm-12 d-inherit">
          <h2>
            Item selling<small>View and add new purchase item(s)</small>
          </h2>
        </div>
      </div>
      <div *ngIf="IsDataReady">
        <form class="mb-4" [formGroup]="purchaseFormGroup">
          <div class="col-md-12 pr-0 pl-0 d-inherit">
            <div id="wizard" class="float-left w-100">
              <div class="x_content pr-0 pl-0">
                <div id="uploadsec" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="vendor_cust_registration" class="nav nav-tabs bar_tabs" role="tablist">
                    <li *ngIf="IsPurchasePage" role="presentation" class="nav-item" name="classmasterdata"
                      file="ClassMaster">
                      <a name="customer" class="nav-link active" id="customer-tab" role="tab" data-toggle="tab"
                        aria-controls="customer" aria-selected="true">Existing Customer</a>
                    </li>
                    <li *ngIf="!IsPurchasePage" role="presentation" class="nav-item" name="classmasterdata"
                      file="ClassMaster">
                      <a name="customer" class="nav-link active" id="customer-tab" role="tab" data-toggle="tab"
                        aria-controls="customer" aria-selected="true">Existing Customer</a>
                    </li>
                  </ul>

                  <div id="myTabContent" formGroupName="CustomerDetail" class="tab-content p-3 pb-0">
                    <!-- Existing customer -->
                    <div role="tabpanel" class="tab-pane fade show active" id="existingcustomer"
                      aria-labelledby="customer-tab">
                      <div class="row col-md-12">
                        <div class="col-md-3">
                          <label>Vendor name</label>
                          <div class="form-group row">
                            <div class="col-md-12">
                              <app-iautocomplete id="CustomerByName" formControlName="VendorUid"
                                [Data]="CustomerData" [Placeholder]="'Select vendor'">
                              </app-iautocomplete>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-9" *ngIf="IsPurchasePage">
                          <label>Bill no. #</label>
                          <div class="form-group row">
                            <div class="col-md-12">
                              <input name="BillNo" id="BillNo" class="form-control" required 
                              formControlName="BillNo" placeholder="Enter bill no. #" 
                              [ngClass]="{'invalid-field': (CustomerDetail.BillNo.touched || submitted) && CustomerDetail.BillNo.errors?.required}" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!IsPurchasePage" class="tab-content">
                    <!-- Existing customer -->
                    <div role="tabpanel" class="tab-pane fade show active" aria-labelledby="customer-tab">
                      <div class="col-md-12 mt-2 d-inline-block">
                        <label>Add Catagory, Brand and Item using below table.</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 pt-2 pt-2 panel-body pl-0 pr-0">
            <!-- <app-dynamic-table [pageData]="DynamicTableDetail"></app-dynamic-table> -->
            <div class="table-responsive">
              <!--Table form purchase-->
              <table *ngIf="IsPurchasePage" id="billtable" class="table table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th rowspan="2" class="text-center w-2">#</th>
                    <th class="w-25" rowspan="2">Item</th>
                    <th class="w-15 position-relative" rowspan="2">Desc/Qty.# <small class="info-text">[Available]</small></th>
                    <th rowspan="2" class="w-8">Price/-</th>
                    <th rowspan="2" class="w-10">Tax Amount</th>
                    <th rowspan="2" class="w-10">Total</th>
                    <th class="w-15" rowspan="2">Final</th>
                  </tr>
                </thead>
                <tbody id="billing-body" formArrayName="GridDetail">
                  <tr *ngFor="let item of GridDetail.controls; let i = index" [formGroupName]="i" name="item-record"
                    [attr.index]="i">
                    <td name="table-index" class="">
                      <div class="m-0 p-0 text-center">
                        <label class="m-0 p-0">{{i + 1}}</label>
                      </div>
                    </td>
                    <td>
                      <div name="parent-select" class="select-autofill-parent">
                        <app-iautocomplete name="ItemName" formControlName="ItemName" (OnSelect)="OnItemSelection($event, i)"
                          [ClassName]="FieldClass" [Tabindex]="[i * 4 + 1]"
                          [Data]="StockBindingData" [Placeholder]="'Select stock'">
                        </app-iautocomplete>
                      </div>
                    </td>
                    <td class="position-relative">
                      <small class="info-text">[ {{item.get("AvailableQuantity").value}} ]</small>
                      <div class="m-0 p-0" name="Quantity">
                        <input [attr.Tabindex]="[i * 4 + 3]" formControlName="Quantity"
                          (keypress)="HandleDescription($event)" name="Quantity" (keyup)="ManageDescription($event)"
                          class="tbl-input border-0 br-0 bg-white" />
                      </div>
                    </td>
                    <td class="disabledField w-10">
                      <div class="m-0 p-0" name="Price">
                        <input class="tbl-input border-0 br-0 text-muted disabledField" name="Price"
                          readonly formControlName="Price" />
                      </div>
                    </td>
                    <td class="disabledField">
                      <div class="m-0 p-0 position-relative" name="TaxAmount">
                        <div class="tax-class text-muted">
                          <small>
                            C:<span>{{item.get("CGST").value}}</span> 
                            S:<span>{{item.get("SGST").value}}</span>
                            I:<span>{{item.get("IGST").value}}</span>
                          </small>
                        </div>
                        <input readonly class="tbl-input border-0 br-0 text-muted disabledField" name="TaxAmount"
                          formControlName="TaxAmount" />
                      </div>
                    </td>
                    <td class="disabledField">
                      <div class="m-0 p-0">
                        <input readonly class="tbl-input border-0 br-0 text-muted disabledField" name="TotalAmount"
                          formControlName="TotalAmount" />
                      </div>
                    </td>
                    <td class="disabledField">
                      <div class="m-0 p-0" name="FinalAmount">
                        <input class="tbl-input border-0 br-0 text-muted disabledField" readonly name="FinalAmount"
                          formControlName="FinalAmount" />
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot formGroupName="OtherDetail">
                  <tr>
                    <th class="bg-white" colspan="7">
                      <div class="col-12 p-0">
                        <div class="row col-12 mt-4 final-lbl pb-2 mb-4">
                          <div class="col-6">Transpotation detail & cost in 
                            <div class="float-right d-inline">
                              <i class="fas fa-rupee-sign"></i>&nbsp;
                            </div>
                          </div>
                          <div class="col-6">
                            <label class="float-end">Total Amount: {{PurchasedTotalPrice}}&nbsp;</label>
                          </div>
                        </div>
                      </div>

                      <div class="row col-12 p-0">
                        <div class="col-md-6">
                          <div class="float-left w-100 mt-2">
                            <label class="position-relative">Transport name:&nbsp; (<i
                              class="fas fa-rupee-sign"></i>)</label>
                            <div class="form-group">
                              <input type="text" placeholder="Transport name" class="form-control"
                                name="TransportName" formControlName="TransportName">
                            </div>
                          </div>
                          <div class="float-left w-100">
                            <label class="position-relative">Vehicle no:&nbsp; (<i
                                class="fas fa-rupee-sign"></i>)</label>
                            <div class="form-group">
                              <input type="text" placeholder="Vehicle no. #" class="form-control" name="VehicleNo"
                                formControlName="VehicleNo">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="float-left w-100 mt-2">
                            <label class="position-relative">Amount Paid:&nbsp; (<i
                                class="fas fa-rupee-sign"></i>)</label>
                            <div class="form-group">
                              <input type="text" FloatType="true" (keyup)="FindDueAmount($event)"
                                placeholder="Amount paid" class="form-control" name="PaidAmount" formControlName="PaidAmount">
                            </div>
                          </div>
                          <div class="float-left w-100">
                            <label class="position-relative">Amount Due:&nbsp; (<i
                                class="fas fa-rupee-sign"></i>)</label>
                            <div class="form-group">
                              <input placeholder="Amount due" disabled class="form-control disabled" name="DueAmount" formControlName="DueAmount">
                            </div>
                          </div>
                        </div>
                      </div>
                    </th>
                  </tr>
                </tfoot>
              </table>
              <!--Table for adding new items-->
              <table *ngIf="!IsPurchasePage" id="billtable" class="table table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th rowspan="2" class="text-center">#</th>
                    <th rowspan="2">Catagory</th>
                    <th rowspan="2">Brand</th>
                    <th rowspan="2">Item</th>
                    <th rowspan="2" class="w-8">S/Price</th>
                    <th rowspan="2" class="w-8">A/Price</th>
                    <th rowspan="2" class="w-12">Qty#</th>
                  </tr>
                </thead>
                <tbody id="newitems-body" formArrayName="GridDetail">
                  <tr *ngFor="let item of BillingFormGroup; let i = index" [formGroupName]="i" name="item-record"
                    [attr.index]="i">
                    <input hidden="hidden" name="currentStockDetail" />
                    <td name="table-index">
                      <div class="m-0 p-0 text-center">
                        <label class="m-0 p-0">{{i + 1}}</label>
                      </div>
                    </td>
                    <td [ngStyle]="{ width: i === 0 ? '30%' : 'auto' }">
                      <div *ngIf="!IsPurchasePage" name="parent-select" class="select-autofill-parent">
                        <app-iautocomplete [ClassName]="FieldClass" formControlName="ItemName" [Data]="item.StockDetail">
                        </app-iautocomplete>
                      </div>
                    </td>
                    <td>
                      <div class="m-0 p-0" name="brandname">
                        <input [attr.Tabindex]="[i * 6 + 2]" formControlName="BrandName" name="BrandName"
                          class="tbl-input border-0 br-0 bg-white" />
                      </div>
                    </td>
                    <td>
                      <div class="m-0 p-0" name="itemanme">
                        <input class="tbl-input border-0 br-0 bg-white" name="ItemName"
                          formControlName="ItemName" [attr.Tabindex]="[i * 6 + 3]" />
                      </div>
                    </td>
                    <td>
                      <div class="m-0 p-0" name="SellingPrice">
                        <input class="tbl-input border-0 br-0 bg-white" name="SellingPrice"
                          formControlName="SellingPrice" [attr.Tabindex]="[i * 6 + 4]" />
                      </div>
                    </td>
                    <td>
                      <div name="parent-select" class="select-autofill-parent">
                        <input class="tbl-input border-0 br-0 bg-white" name="ActualPrice" [attr.Tabindex]="[i * 6 + 5]"
                          formControlName="ActualPrice" />
                      </div>
                    </td>
                    <td>
                      <div name="parent-select" class="select-autofill-parent">
                        <input [attr.Tabindex]="[i * 6 + 6]" class="tbl-input border-0 br-0 bg-white" name="Qty"
                          formControlName="Qty" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--Table-->
            </div>
            <div class="col-md-4 col-sm-12 pr-0 float-right text-right pb-2">
              <button class="btn btn-outline-primary mr-2" (click)="AddMoreRows()">
                <i class="fa fa-plus pr-2" aria-hidden="true"></i>Add Row
              </button>
              <button class="btn btn-secondary" (click)="SubmitData()">
                <i class="fa fa-file-text pr-2" aria-hidden="true"></i>Submit
              </button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="!IsDataReady">
        <div class="x_panel no-text text-center col-12">
          <p class="text-muted">NO DATA FOUND. IT SEEEMS LIKE EVERYTHING IS EMPTY, SO PLEASE ADD YOUR DATA.</p>
        </div>
      </div>
    </div>
  </div>
</div>
