.actionBar {
  width: 100%;
  padding: 0px 40px;
  padding-top: 0px;
}

.actionBar a {
  margin: 0 3px;
}

.gender-dv {
  padding: 6px 14px !important;
}

.height-auto {
  height: auto !important;
  min-height: auto !important;
}
