<div class="right_col">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Customer Registration <small>Register customer detail.</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content pb-0">
        <div id="wizard" class="form_wizard wizard_horizontal">
          <div class="x_content">
            <div class="" id="uploadsec" role="tabpanel" data-example-id="togglable-tabs">
              <div id="myTabContent" class="tab-content">
                <!-- Customer form -->
                <div role="tabpanel" class="tab-pane" [ngClass]="{'active show-linear' : IsCustomer}" id="customer"
                  *ngIf="IsCustomer" aria-labelledby="customer-tab">
                  <form method="post" [formGroup]="customerform" class="mt-5">
                    <div class="profile_picture">
                      <div id="crop-avatar" class="user-pic">
                        <!-- Current avatar -->
                        <input class="d-none" type="file" id="imageupload" (change)="GetFile($event)" />
                        <a class="upload-anc text-decoration-none" (click)="OpenFileExplorer()">
                          <span>Browse picture</span>&nbsp;
                          <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </a>
                        <img class="img-responsive" id="profileImgUrl-demo" [src]="UserDetail.UserImagePath"
                          alt="Avatar" title="Change the avatar" />
                      </div>
                    </div>

                    <!-- Fields -->
                    <div id="step-1" name="form-steps">
                      <div class="col-md-12 row">
                        <div class="form-group col-md-4">
                          <label class="col-form-label text-right col-md-3" for="first-name">
                            Customer <span class="required">*</span>
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="checkbox" placeholder="Full name.# (required)" (click)="enableCustomer()"
                              formControlName="IsClient" name="IsClient" class="">
                          </div>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="col-form-label text-right col-md-3" for="last-name">
                            Vendor<span class="required">*</span>
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="checkbox" placeholder="Full name.# (required)" (click)="enableVendor()"
                              formControlName="IsVendor" name="IsVendor" class="">
                          </div>
                        </div>
                      </div>
                      <!-- First colomn -->
                      <div class="col-md-12 row">
                        <div class="form-group col-md-4">
                          <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Full Name <span class="required">*</span>
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="text" id="FullName" placeholder="Full name (required)"
                              formControlName="FullName" name="FullName" required class="form-control">
                          </div>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="last-name">
                            Mobile No.#<span class="required">*</span>
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="text" (keypress)="PhonenoValidation($event)" formControlName="Mobile"
                              name="Mobile" required class="form-control"
                              placeholder="Mobile no.# (required)">
                          </div>
                        </div>
                      </div>

                      <!-- Second column -->
                      <div class="col-md-12 row">
                        <div class="form-group col-md-4">
                          <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="last-name">
                            Alt. Mobile #
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="text" id="AlternetNo" formControlName="AlternetMobileNo"
                              (keypress)="PhonenoValidation($event)" placeholder="Alternet no.# (optional)"
                              name="AlternetNo" class="form-control">
                          </div>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="last-name">
                            Email Id
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="text" formControlName="Email"
                              placeholder="Email id (optional)" name="Email" class="form-control">
                          </div>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Ph: No.#
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="text" (keypress)="PhonenoValidation($event)" id="PhoneNo"
                              name="PhoneNo" class="form-control" formControlName="ShopPhoneNumber"
                              placeholder="Phone no.# (optional)">
                          </div>
                        </div>
                      </div>

                      <!-- Third column -->
                      <div class="col-md-12 row">
                        <div class="form-group col-md-4">
                          <label for="middle-name" class="col-form-label text-right col-md-3 col-sm-3 col-xs-12">
                            Shop Name</label>
                          <div class="col-9 d-inline-block">
                            <input id="ShopName" name="ShopName" class="form-control" type="text"
                              placeholder="Shop name (optional)" formControlName="ShopName">
                          </div>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="last-name">
                            License No.
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="text" id="LicenseNo" name="LicenseNo" class="form-control"
                              placeholder="License No. (optional)" formControlName="LicenseNo">
                          </div>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="last-name">
                            GSTIN/Aadhar
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="text" name="GSTNo" formControlName="GSTNo"
                              placeholder="GST No. / Aadhar No. (optional)" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 row">
                      <div class="form-group col-md-4">
                        <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="last-name">
                          State
                        </label>
                        <div class="col-9 d-inline-block">
                          <select class="form-control" id="State" name="State" formControlName="State">
                            <option selected="" value="">State</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="last-name">
                          City
                        </label>
                        <div class="col-9 d-inline-block">
                          <select class="form-control" id="City" name="City" formControlName="City">
                            <option selected value="">City</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="last-name">
                          Pincode
                        </label>
                        <div class="col-9 d-inline-block">
                          <input class="form-control" name="Pincode"
                            formControlName="Pincode" placeholder="Pincode (optional)" />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 row mt-4">
                      <div class="form-group bottom-dob col-md-4">
                        <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12">
                          DOB
                        </label>
                        <div class="col-9 d-inline-block">
                          <mat-form-field class="w-100 plain-date">
                            <input matInput id="Dob" name="Dob" [matDatepicker]="picker" formControlName="Dob">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <label class="" for="last-name">
                          Address
                        </label>
                        <div class="col-12 d-inline-block">
                          <textarea class="form-control" formControlName="Address"
                            placeholder="Address (optional)" name="Address" rows="4"></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="x_title float-left w-100 mt-4">
                      <h2>Customer Account <small>Add customer bank account detail.</small></h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="col-12 row mt-4">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Account No.
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="text" name="BankAccountNo" formControlName="BankAccountNo" class="form-control"
                              placeholder="Bank account no. (optional)">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="first-name">
                            IFSC Code
                          </label>
                          <div class="col-9 d-inline-block">
                            <input type="text" id="IFSCCode" placeholder="IFSC Code (optional)" name="IFSCCode"
                              formControlName="IFSCCode" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Action -->
                    <div class="col-12">
                      <button href="javascript:void(0)" id="submitbtn" (click)="ResetForm()"
                        class="buttonFinish btn btn-default border">
                        <i class="fa fa-refresh"></i>&nbsp;Reset</button>&nbsp;
                      <button type="submit" class="buttonNext btn btn-success" (click)="SubmitCustomerForm()">
                        <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End SmartWizard Content -->
      </div>
    </div>
  </div>
</div>
