<div class="right_col" role="main">
  <div id="catagory-dv">
    <div class="clearfix"></div>
    <div class="col-md-12 col-xs-12 x_panel">
      <div class="x_title" style="margin-bottom: 10px;">
        <h2>Add New Item<small>Use this page to add single item.</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-12 col-xs-12 p-2">
        <div class="card x_panel">
          <div class="x_title">
            <h2>Add Item <small>add your store items here.</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form [formGroup]="catagoryForm" id="catagory-form" (keydown.enter)="$event.preventDefault()"
              class="form-horizontal form-label-left input_mask" (ngSubmit)="AddCatagory()">
              <div class="col-md-12 row">
                
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="item" class="col-md-3 col-form-label">
                      Item<span class="ml-2">*</span>
                    </label>
                    <div class="col-sm-12">
                      <input id="ItemName" formControlName="ItemName" class="form-control" oninput="this.value = this.value.toUpperCase()" 
                        name="ItemName" required placeholder="Item Name">
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="type" class="col-form-label">
                      Catagory <span class="ml-2">*</span>
                    </label>
                    <div class="col-md-12">
                      <app-iautocomplete id="CatagoryUid" formControlName="CatagoryUid" [Data]="AutoFillCatagory">
                      </app-iautocomplete>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="type" class="col-form-label">
                      Vendor
                    </label>
                    <div class="col-md-12">
                      <app-iautocomplete name="VendorUid" formControlName="VendorUid" [Data]="AutoFillVendor">
                      </app-iautocomplete>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="BrandName" class="col-form-label">
                      Brand
                    </label>
                    <span class="switch-lnk">
                      Click to change mode&nbsp;
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                    
                    <div class="col-md-12" *ngIf="!IsSelectMode">
                      <input name="BrandName" placeholder="Enter brand name" class="form-control" 
                        oninput="this.value = this.value.toUpperCase()" formControlName="BrandName"/>
                    </div>

                    <div class="col-md-12" *ngIf="IsSelectMode">
                      <app-iautocomplete name="BrandUid" formControlName="BrandUid" [Data]="BrandData"></app-iautocomplete>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="sno" class="col-md-3 col-form-label">Serial No#</label>
                    <div class="col-md-12">
                      <input class="form-control" name="SerialNumber" formControlName="SerialNumber" 
                        placeholder="SERIAL NO.#">
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="quantity" class="col-md-3 col-form-label">Quantity</label>
                    <div class="col-md-12">
                      <input NumberType="true" class="form-control" name="Quantity" formControlName="Quantity" placeholder="QUANTITY">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="hsnno" class="col-form-label">HSN No: #</label>
                    <div class="col-md-12">
                      <input class="form-control" name="HSNNO" formControlName="HSNNO" placeholder="HSN NO.#">
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="mrp" class="col-form-label">
                      M.R.P
                    </label>
                    <div class="col-md-12">
                      <input FloatType="true" class="form-control" name="MRP" 
                        placeholder="Max Retail Price" formControlName="MRP">
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="hprice" class="col-form-label">Actual Price</label>
                    <div class="col-md-12">
                      <input FloatType="true" class="form-control" name="ActualPrice"
                        placeholder="H. PRICE" formControlName="ActualPrice">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 row">
                
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="rprice" class="col-form-label">S. Price</label>
                    <div class="col-md-12">
                      <input FloatType="true" class="form-control" name="SellingPrice"
                        placeholder="Selling Price" formControlName="SellingPrice">
                    </div>
                  </div>
                </div>
              
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ExpireOn" class="col-form-label">Expire On</label>
                    <div class="col-md-12">
                      <form class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="dd/mm/yyyy"
                                   name="dp" [(ngModel)]="ExpireOn" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar btn-s" (click)="d.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>


              <div class="actionBar" style="float: left;margin-top: 50px;">
                <input type="hidden" ng-model="client.ClientUid" id="ClientUid"
                  name="VendorUid" />
                <input type="hidden" ng-model="client.StockUid" id="StockUid" name="StockUid" />
                <input type="hidden" ng-model="client.StockParentUid" id="StockParentUid" name="StockParentUid"
                  value="" />
                <button class="btn btn-default mr-1" (click)="ClearAllFields()">
                  <i class="fa fa-refresh"></i>&nbsp; Reset</button>
                <button class="btn btn-success"><i class="fa fa-filter"></i>&nbsp; Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
