<div class="right_col">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Setting <small>Set your common info. [ ADMIN ACCESS ONLY ]</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="modal fade" id="facultyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="facultyModalMsg">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Smart Wizard -->
        <p>Change or add your business common information.</p>
        <input type="hidden" id="steps-reminder" value="step-1" />
        <div id="wizard" class="form_wizard wizard_horizontal">
          <form (keydown.enter)="$event.preventDefault()" [formGroup]="CatagoryForm">
            <div id="step-1" name="form-steps">
              <div class="form-horizontal form-label-left">

                <div class="mt4 mb-4">
                  <input type="checkbox" (change)="changeCatagoryFieldType()"> Check to select from existing.
                </div>
                
                <div *ngIf="selectMode" class="form-group">
                  <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12">
                    Select Catagory
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 d-inline-block">
                    <app-iautocomplete id="Catagory" [Data]="CatagoryDetail" [Placeholder]="placehosderName" formControlName="CatagoryUid">
                    </app-iautocomplete>
                  </div>
                </div>

                <div *ngIf="!selectMode" class="form-group">
                  <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12">
                    Enter Catagory
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 d-inline-block">
                    <input name="Catagory" class="form-control text-uppercase" formControlName="CatagoryName" placeholder="Enter Catagory type name">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12">
                    Catagory Description
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 d-inline-block">
                    <textarea rows="4" id="desc" name="desc" formControlName="Description"
                      placeholder="Catagory Description" class="form-control text-uppercase" [disabled]="FieldDisabled">
                    </textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="first-name">
                    IGST (calculated in %)
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 d-inline-block">
                    <input name="IGST" FloatType="true" placeholder="IGST value in (%)" formControlName="IGST"
                      class="form-control" [disabled]="FieldDisabled">
                  </div>
                </div>
                <div class="form-group">
                  <label for="middle-name" class="col-form-label text-right col-md-3 col-sm-3 col-xs-12">
                    SGST (calculated in %)</label>
                  <div class="col-md-6 col-sm-6 col-xs-12 d-inline-block">
                    <input name="SGST" class="form-control" FloatType="true" formControlName="SGST" placeholder="SGST value in (%)"
                      [disabled]="FieldDisabled">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label text-right col-md-3 col-sm-3 col-xs-12" for="last-name">
                    CGST (calculated in %)
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 d-inline-block">
                    <input name="cgst" FloatType="true" placeholder="CGST value in (%)" formControlName="CGST"
                      class="form-control" [disabled]="FieldDisabled">
                  </div>
                </div>
              </div>
            </div>

            <blockquote class="mt-4 blockquote text-right">
              <p class="mb-0 footer-p">Verify carefully. This data will be used while billing.<br /> (Authorized access
                only)</p>
              <footer class="mt-4 footer-tag blockquote-footer">Someone famous in <cite title="Source Title">Source
                  Title</cite>
              </footer>
            </blockquote>
            <div class="actionBar mt-2 text-right">
              <a href="javascript:void(0)" id="submitbtn" disabled="disabled" class="buttonFinish btn mr-2 btn-default"
                (click)="ClaerForm()">
                <i class="fa fa-refresh"></i>&nbsp; Clear
              </a>
              <a href="javascript:void(0)" id="prevbtn" disabled="disabled" class="buttonPrevious btn btn-primary"
                (click)="AddCatagory()">
                <i class="fa fa-upload"></i>&nbsp; Submit
              </a>
            </div>
          </form>
        </div>
        <!-- End SmartWizard Content -->
      </div>
    </div>
  </div>
</div>
