<div>
  <!-- Dashboard -->
  <div class="wrapper">
    <!-- Page Header -->
    <app-header *ngIf="!loginPage"></app-header>
    <div class="col-12 row p-0 m-0">
      <!-- Sidebar Holder -->
      <div class="col-md-2" *ngIf="!loginPage">
        <app-side-menu></app-side-menu>
      </div>
  
      <div id="content-body" class="body-content col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- Helper Tag -->
  <div class="fadeloadscreen d-none" id="fadeloadscreen">
    <div class="loading">Loading&#8230;</div>
  </div>
  <div class="position-fixed bg-warning d-none custom-toast" id="toast">
    
  </div>
  <div class="d-none">
    <app-chattingbox></app-chattingbox>
  </div>
</div>
