.actionBar {
  width: 100%;
  padding: 16px 5px;
  padding-top: 0px;
}

.actionBar a {
  margin: 0 3px;
}

.permission-table {
  margin: auto 15%;
}

.table td {
  padding-left: .5rem;
  padding-right: 0rem !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.table th {
  padding: .5rem;
  font-size: 12px !important;
}
